* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  font-family: Arial;
  height: 100vh;
  margin: 0;
  padding: 1ex;
}
#main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
#map-container, #details, #legend, #faqs, #glossary, #table-container {
  background-color: #eee;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: 1ex;
  padding: 1ex;
}
#map-container {
  display: flex;
  flex-direction: column;
  flex-basis: 75%;
  text-align: center;
  width: 100%;
}
#header {
  display: flex;
  flex-grow: 0;
  justify-content: space-between;
}
#header h1 {
  text-align: center;
}
#nav-links {
  padding-right: 3ex;
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
}
#nav-links ul {
  display: flex;
  gap: 20px;
  list-style: none;
}
#nav-links li {
  display: inline;
}
#nav-links a {
  text-decoration: none;
}
#controls {
  flex-grow: 0;
}
#controls button {
  cursor: pointer;
  padding: 1ex;
}
#map {
  flex-grow: 0;
}
#footer {
  flex-grow: 0;
}
#details h2 {
  border-top: 4px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.5);
  padding-top: 1ex;
  text-align: center;
}
#details p {
  margin: 0.5ex 0;
}

.highlight {
  fill: #777 !important;
}
.selected {
  fill: #ffdd4d !important;
}
.hover {
  cursor: pointer;
  fill: #ffeb98 !important;
}
#details {
  flex-basis: 50%;
  padding: 1ex;
}
#popup {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 12px 12px 18px rgba(0, 0, 0, 0.3);
  display: none;
  padding: 1.5ex;
  position: fixed;
  text-align: center;
  z-index: 20;
}
.pill {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  margin: 1px;
  padding: 5px;
}
.assessment-pill {
  background-color: #eee;
}
.state-pill {
  background-color: #5fe97c;
}
.assessment-pill {
  background-color: #83b6ff;
}
.program-pill {
  background-color: #ffb5b5;
}
.program-pill:hover {
  background-color: #ef7572;
}
.assessment-pill:hover {
  background-color: #4885de;
}
.assessment {
  color: #1a51af;
}
.program {
  color: #800f0c;
}
#table-container {
  display: none;
}
#table-container table {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-collapse: collapse;
}
#table-container th {
  text-align: left;
}
#table-container tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
#table-container tr.header {
  border-bottom: 3px solid rgba(0, 0, 0, 0.3);
}
#table-container td, #table-container th {
  padding: 5px;
}
#table-container td.odd,
#table-container th.odd {
  background-color: #eee;
}
#table-container td.even,
#table-container th.even {
  background-color: #ddd;
}

#table-container tr.odd:hover,
#table-container tr.even:hover {
  background-color: lightyellow !important;
}

.subtests-scale,
.topics-scale,
.qualityindicator-scale {
  align-items: center;
  display: flex;
  gap: 5px;
  align-items: stretch;
}

.subtests-scale-element,
.topics-scale-element,
.qualityindicator-scale-element {
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: inline-flex;
  font-size: x-small;
  min-width: 8ex;
  overflow: hidden;
  padding: 2px;
  text-overflow: ellipsis;
}

#legend .subtests-scale-element,
#legend .topics-scale-element,
#legend .qualityindicator-scale-element {
  font-size: medium;
}

.topics-scale-element {
  flex-basis: calc(100% / 7);
}

.subtests-scale-element {
  flex-basis: calc(100% / 8);
}

.qualityindicator-scale-element {
  flex-basis: calc(100% / 5);
}

.subtests-scale-element.on {
  background-color: #2868c5;
  color: white;
}

.subtests-scale-element.on {
  background-color: #2868c5;
}

.topics-scale-element.on,
.qualityindicator-scale-element.on {
  background-color: #bb2323;
  color: white;
}

.qualityindicator-scale-element.neg {
  background-color: #4f0808;
  color: white;
}

#faqs, #glossary {
  margin: 3ex auto;
  max-width: 1000px;
}

#faqs h2, #glossary h2 {
  text-align: center;
}

#faqs .qa,
#glossary .definition {
  background-color: #fff;
  margin: 3ex;
  padding: 3ex;
}